<header>
    <nav class="navbar">
      <div class="container">
        <a href="/" class="brand">ResumeTailor</a>
        <ul class="nav-links">
          <li><a href="#features">Features</a></li>
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/upload" class="btn">Upload Resume</a></li>
        </ul>
      </div>
    </nav>
  </header>
  