<!DOCTYPE html>
<html>
<head>
  <title>Resume Result</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Your Tailored Resume</h1>
  <div>
    <h2>Original Resume:</h2>
    <pre><%= tailoredResume.original %></pre>
  </div>
  <div>
    <h2>Tailored Resume:</h2>
    <pre><%= tailoredResume.tailored %></pre>
  </div>
  <div>
    <h2>Recommendations:</h2>
    <ul>
      <% recommendations.forEach(function(rec) { %>
        <li><%= rec %></li>
      <% }); %>
    </ul>
  </div>
  <a href="/">Back to Home</a>
</body>
</html>
